//main: style.less

/*Colors*/
@color-primary:#fe7d14;
@color-yellow:#fed101;
@color-blue:#08457e;
@color-black:#1f1f1f;
@color-white:#ffffff;
@color-brown:#322c27;
@color-footer:#1e1d24;
@color-copyright:#5a595f;
@color-background:#f6f6f6;
@color-accordion:#1e1d24;

/*Buttons*/
@btn-radius:3px;
@btn-font:15px;

/*Breakpoint*/
@mobile-s: ~ "(max-width:375px)";
@mobile-m: ~ "(max-width:475px)";
@mobile-l: ~ "(max-width:575px)";
@tablet: ~ "(max-width:768px)";
@laptop: ~ "(max-width:1024px)";
@laptop_l: ~ "(max-width:1200px)";