//main: ../style.less

.btn{
    .font(@color-white,'Roboto',@btn-font,700,normal,1);
    border:none;
    border-radius:@btn-radius;
    text-transform:uppercase;
    cursor: pointer;
    outline: none;
        transition:background .2s linear, color .2s linear;
    &+&{
        margin-left: 14px;
    }
    &--yellow{
        padding: 18px 40px;
        background-color:@color-yellow;
        &:hover{
           background-color:darken(@color-yellow,5%); 
        }
    }
    &--call__an_ES{
        padding: 18px 31px;
    }
    &--transparent{
        padding: 13.5px 23px;
        background-color:transparent;
        border:3px solid @color-white;
    
        &:hover{
            background-color:@color-white;
            color:@color-black
        }
    }
}