//main: ../style.less
.footer{
    background-color:@color-footer;
    position: relative;
    &::before{
        display: block;
        content: "";
        width:100%;
        height: 1px;
        background-color:#949494;
        position: absolute;
        top:46px;
        left: 0;
        z-index: 1;
    }
}

.footer__contact{
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    position: absolute;
    top:-70px;
    left:50%;
    transform: translateX(-50%);
    z-index: 2;
   
    
}
.footer__contact__wrapper{
    display: flex;
    -ms-display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height:140px;
    background-color:@color-primary;
    border-radius:5px;
}

.round__icon{
    position: relative;
    display: flex;
    -ms-display: flex;
    justify-content: center;
    align-items:center;
    min-width: 80px;
    height: 80px;
    border-radius:50%;
    background-color:@color-yellow;
}
.footer__contact__item{
    display: flex;
    -ms-display: flex;
    align-items: center;
    flex-basis: 33.333%;
    padding: 30px 0px 30px 20px ;
    &+&{
        border-left:1px solid @color-white;
    }
    
}
.contact__img{
    display: block;
    width: 40px;
    height: 40px;
}
.contact__text{
    padding-left: 20px;
    .font(@color-white,'Roboto',16px,400,normal,1.43);
    span{
        font-weight: 700;
    }
}

.footer__content{
    padding-top: 130px;
    padding-bottom: 75px;
    display: flex;
    -ms-display: flex;
    justify-content:flex-start;
    
    &__item{
        
        width: 33.3333%;

    }
}
.footer__nav{
    padding-left:26px;
   
}
.footer__nav__link{
    display:block;
    
     .font(@color-white,'Roboto',18px,700,normal,1.66);
    transition:color .2s linear;
        
    &:hover{
            color:@color-primary;
    }
}
.footer__social{
    text-align: center;
    h3{
        .font(@color-white,'Roboto',18px,700,normal,1);
        margin-bottom: 42px;
        text-transform:uppercase;
    }
}