//main: ../style.less

.section{
    position:relative;
    &--popular__service{
        background-color:#f6f6f6;
        padding: 90px 0 110px;
        margin-top:-35px;
    }
    &--marketing{
        padding-top:286px;
    }
    &--about{
        padding: 75px 0;
    }
    &--work{
        padding-top:90px;
        background-color:#f6f6f6;
        margin-bottom: 95px;
    }
    &__title{
        .font(@color-black,'OpenSans',36px,700,normal,1);
        padding-bottom: 80px;
        text-transform:uppercase;
        text-align: center;
    }
}