//main: ../style.less
.slider__inner{
    @media @tablet{
        top:0;
    }
  
}
.slider__item{
    width: 100%;
    height: auto;
    max-height: 600px;
    min-height: 280px;
    overflow: hidden;
    position: relative;
    background-color:#1f1f1f;
    
}
.slider__img{
    display: block;
    position: relative;
    opacity: 0.45;
    width: 100%;
    min-width: 100vw;
    height: 100%;
    @media @tablet{
        width: 100vh;
    }
  
}
.slider__content{
    width: 100%;
    position: absolute;
    top:145px;
    left:50%;
    z-index: 1;
    transform: translateX(-50%);
    text-align: center;
    
        @media @laptop_l{
            top:105px;
        }
        @media @laptop_l{
            top:80px;

        }
        @media @tablet{
        top:30px;
        }
    
}
.slider__title{
    .font(@color-white,'Roboto',70px,700,normal,1.48);
    margin-bottom: 10px;
    
        @media @laptop_l{
            font-size:55px;
        }
        @media @laptop{
            font-size:30px;
        }
        @media @mobile-l{
            font-size:25px;
        }
}
.slider__subtitle{
    .font(@color-white,'Roboto',18px,700,normal,1);
    text-transform: uppercase;
    margin-bottom: 20px;
    
     @media @laptop{
            font-size:15px;
     }
     @media @tablet{
            font-size:12px;
    }
    @media @mobile-l{
        display: none;
    }
}

